@font-face {
    font-family: "Young Serif";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("ttf");
    font-weigh: 400;

}

@font-face {
    font-family: "Outfit";
    src:url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("ttf"),
        url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf") format("ttf"),
        url("./assets/fonts/outfit/static/Outfit-Black.ttf") format("ttf");
    font-weigh: 400, 600, 700;
}


:root {
    --white-color: #fff;
    --stone-100: #f3e5d8;
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);


    --Font-size-paragraph: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--stone-100);
    margin: 120px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 42px;
}

.img-dish img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin: 16px;
}


.name-dish {
    font-family: "Young Serif";
}